*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

span{
    font-size: 14px;
    font-weight: normal;
}

.saiba_mais{
    margin: 5px;
    padding: 15px;
    background-color: #3196DF;

    border-radius: 5px;

    animation: saiba_mais .5s ease infinite alternate;
}

@keyframes saiba_mais{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

h1{
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
}

body{
    background-color: #1a1a1a;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    background-color: #E93D3D;
    /*width: 100px;
    height: 180px;*/

    position: relative;

    transform-origin: right bottom;

    animation: heart 5s ease infinite alternate;
}

@keyframes heart{
    0%{
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
    20%{
        width: 100px;
        height: 100px;
        transform: rotate(0deg);
    }
    45%{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: rotate(45deg) scale(1);
    }
    50%{

        transform: rotate(45deg) scale(1.2);
    }
    55%{

        transform: rotate(45deg) scale(1);
    }
    60%{

        transform: rotate(45deg) scale(1.2);
    }
    65%{

        transform: rotate(45deg) scale(1);
    }
    70%{

        transform: rotate(45deg) scale(1.2);
    }
    75%{

        transform: rotate(45deg) scale(1);
    }
    80%{

        transform: rotate(45deg) scale(1.2);
    }
    85%{
        transform: rotate(45deg) scale(1);
    }
    90%{

        transform: rotate(45deg) scale(1.2);
    }
    95%{

        transform: rotate(45deg) scale(1);
    }
    100%{
        width: 100px;
        height: 160px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: rotate(45deg) scale(1.2);
    }
}



.heart:after{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    transform-origin: left bottom;

    transition: .5s ease;

    background-color: #D62424;

    animation: heart_after 5s ease infinite alternate;
}
@keyframes heart_after{

    0%{
        border-radius: 15px;
    }
    20%{
        transform: rotate(0deg) translateY(0px);
    }
    40%{
        transform: rotate(0deg) translateY(0px);
    }
    45%{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: rotate(-450deg) translateY(100px);
    }
    100%{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: rotate(-450deg) translateY(100px);
    }
}




/*
.heart:hover:after{

    background-color: #D62424;
    background-color: #fff;

    cursor: pointer;
    transform: rotate(-90deg) translateY(100px);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    transition: .5s ease;
}
*/
/*.heart:hover{
    
    cursor: pointer;
    transform: rotate(45deg);

    transition: .5s ease;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}*/
