$white1: #fafafa;
$blue: #1f97ff;
$black1: #131313;
$black3: #333333;
$gray: #d6d6d6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  background-color: $white1;
}

a {
  display: block;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 35px;

  position: fixed;
  top: 0;
  z-index: 999;

  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(20px);
}

.header-container {
  max-width: 820px;
  margin: 0 auto;
  padding: 5px 0px;
}

.nav-list-desktop {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: $gray;
  display: block;
  padding: 5px 10px;

  font-size: 11px;
  opacity: 1;
  transition: 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.nav-mobile {
  display: none;
}
.nav-list-mobile {
  display: none;
}

@media (max-width: 600px) {
  .nav-list-desktop {
    display: none;
  }

  .nav-mobile {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburguer {
    width: 25px;
    height: 25px;

    position: relative;

    z-index: 900;

    &:after {
      content: "";
      position: absolute;

      top: 38%;
      left: 23%;

      width: 55%;
      height: 4%;
      background-color: $gray;
      transition: 1s ease;
    }
    &:before {
      content: "";
      position: absolute;

      top: 63%;
      left: 23%;

      width: 55%;
      height: 4%;
      background-color: $gray;
      transition: 1s ease;
    }
  }

  .hamburguer.hamburguer-active {
    width: 25px;
    height: 25px;

    position: relative;

    &:after {
      content: "";
      position: absolute;

      top: 50%;
      left: 23%;

      width: 55%;
      height: 4%;

      transform: rotate(225deg);

      background-color: $gray;
    }
    &:before {
      content: "";
      position: absolute;

      top: 50%;
      left: 23%;

      transform: rotate(-405deg);

      width: 55%;
      height: 4%;
      background-color: $gray;
    }
  }

  .nav-list-mobile {
    width: 100%;
    height: 0;

    position: fixed;
    top: -1100%;
    z-index: 0;

    opacity: 0.5;

    background-color: #030303;

    list-style: none;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 40px 30px;

    flex-direction: column;

    transition: 0.85s cubic-bezier(0.25, 0.7, 0.6, 1);
  }

  .nav-list-mobile.active {
    top: 0;
    height: 100vh;
    opacity: 1;
  }

  .nav-item-mobile {
    width: 100%;
    margin: 5px 0px;
  }

  .nav-link-mobile {
    display: block;
    color: $gray;

    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #333;

    font-size: 11px;
    opacity: 1;
    transition: 0.5s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .search {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 0px 10px;

    background-color: #1f1f1f;

    outline: none;
    color: #888;
  }
}

/* IPHONE SE */
.iphonese {
  width: 100%;
  height: 70vh;

  padding-top: 50px;
  margin: 5px 0px;

  background-color: $black1;
}

@media screen and (max-width: 780px) {
  .iphonese {
    height: 55vh;
  }
}

.container-iphonese {
  max-width: 820px;
  height: 100%;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-title-iphonese {
  h1 {
    color: $white1;
    font-size: 48px;
    text-align: center;
    letter-spacing: -2px;
  }

  h3 {
    color: $white1;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
  }
}

.link {
  display: block;
  margin: 0px 20px;
  color: $blue;

  transition: 0.5s ease;
  opacity: 1;

  position: relative;

  &:after {
    content: ">";
    position: absolute;
    top: 0;
    right: -13px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}

.container-img-iphonese {
  img {
    width: 100%;
  }
}

/* IPHONE 11 */

.iphone11 {
  width: 100%;
  height: 70vh;

  margin: 5px 0px;
  padding-top: 5vh;

  background-image: url("../img/iphone11.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 100%;
}

@media screen and (max-width: 1380px) {
  .iphone11 {
    height: 60vh;
    background-size: 120%;
  }
}

@media screen and (max-width: 780px) {
  .iphone11 {
    height: 50vh;
    background-size: 170%;
  }

  h1 {
    font-size: 36px !important;
  }

  h3 {
    font-size: 18px !important;
  }
}

.container-iphone11 {
  max-width: 820px;

  margin: 0 auto;

  display: flex;
  justify-content: center;

  h1 {
    color: $black1;
    font-size: 48px;
    text-align: center;
    letter-spacing: -2px;
  }

  h3 {
    color: $black1;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
  }
}

/* PRODUCTS */

.products {
  width: 100%;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.watch {
  flex: 1 1 380px;
  height: 100%;
  margin: 0px 5px;
  padding-top: 30px;

  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    height: 70px;
    background-image: url("../img/fig_watch.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
  }

  h3 {
    color: $black1;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
  }

  img {
    width: 50%;
  }
}

.airpods {
  flex: 1 1 380px;
  height: 110%;
  margin: 0 5px;
  padding-top: 30px;

  background-color: #000;

  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $white1;
    font-size: 36px;
    text-align: center;
    letter-spacing: -2px;
  }

  h3 {
    color: $white1;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
  }

  img {
    width: 50%;
  }
}
