*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    background-color: #1a1a1a;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sharingan{
    width: 300px;
    height: 300px;

    position: relative;

    background-color: #D62424;

    border-radius: 50%;

    animation: rotation 7s cubic-bezier(.66,0,.48,.91) infinite alternate;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-1500deg);
    }
    100%{
        transform: rotate(-1500deg);
    }
}

.sharingan:after{
    content: '';
    position: absolute;

    top: 20%;
    left: 20%;

    width: 170px;
    height: 170px;

    border-radius: 50%;

    border-radius: 50%;

    border: 5px solid rgba(168,10,10,.7);

    animation: sharingan_after 7s linear infinite alternate;

}


@keyframes sharingan_after{
    0%{
        top: 20%;
        left: 20%;

        width: 170px;
        height: 170px;

        border-radius: 50%;

        border: 5px solid rgba(168,10,10,.7);
        background-color: #D62424;
    }
    60%{
        top: 20%;
        left: 20%;

        width: 170px;
        height: 170px;

        border-radius: 50%;

        border: 5px solid rgba(168,10,10,.7);
        background-color: #D62424;
    }
    70%{
        top: 25%;
        left: 25%;
    
        height: 140px;
        width: 140px;
    
        border-radius: 0%;
        
        border: 5px solid #1a1a1a;
    
        background-color: #1a1a1a;
    }
    100%{
        top: 25%;
        left: 25%;
    
        height: 140px;
        width: 140px;
    
        border-radius: 0%;
        
        border: 5px solid #1a1a1a;
    
        background-color: #1a1a1a;
    }

}





.sharingan:hover:after{
    top: 25%;
    left: 25%;

    height: 140px;
    width: 140px;

    border-radius: 0%;
    
    border: 5px solid #1a1a1a;

    background-color: #1a1a1a;

}



.sharingan:before{
    content: '';

    position: absolute;

    top: 39%;
    left: 39%;

    width: 35px;
    height: 35px;

    z-index: 5;

    border-radius: 50%;
    
    background-color: #1a1a1a;
    border: 17px solid #D62424;
}

.tomoe{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    position: absolute;
    top: 50px;
    left: 135px;

    z-index: 5;

    background-color: #1a1a1a;

    animation: tomoe 7s linear infinite alternate;
}

@keyframes tomoe{
    0%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 50px;
        left: 135px;

        z-index: 5;

        border-top: 0px;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 0px;

        background-color: #1a1a1a;

        
    }
    60%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 50px;
        left: 135px;

        border-top: 0px;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 0px;

        z-index: 5;

        background-color: #1a1a1a;
    }
    70%{
        width: 0px;
        height: 0px;
        border-radius: 0;

        background-color: transparent;

        top: 75px;
        left: 223px;


        border-top: 0px;
        border-bottom: 30px solid transparent;
        border-left: 60px solid #1a1a1a;
        border-right: 0px;
    }
    100%{
        width: 0px;
        height: 0px;
        border-radius: 0;

        background-color: transparent;

        top: 75px;
        left: 223px;


        border-top: 0px;
        border-bottom: 30px solid transparent;
        border-left: 60px solid #1a1a1a;
        border-right: 0px;
    }
}


.sharingan:hover .tomoe{
    width: 0px;
    height: 0px;
    border-radius: 0;

    background-color: transparent;

    top: 75px;
    left: 223px;


    border-top: 0px;
    border-bottom: 30px solid transparent;
    border-left: 60px solid #1a1a1a;
    border-right: 0px;
}

.tomoe4{
    width: 0px;
    height: 0px;
    border-radius: 0%;

    background-color: transparent;

    position: absolute;

    top: 22px;
    left: 75px;

    z-index: 5;

    border-left: 0px;
    border-right: 30px solid transparent;
    border-bottom: 57px solid #1a1a1a;

    animation: tomoe4 7s linear infinite alternate;
}

@keyframes tomoe4{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    60%{
        opacity: 0;
        transform: translateY(100px);
    }
    70%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}








.tomoe:after{
    content: '';
    position: absolute;
    top: -9px;
    left: 5px;

    width: 10px;
    height: 15px;
    z-index: 5;

    border-top-left-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 40%;

    background-color: #1a1a1a;

    transform: rotate(85deg) skewX(30deg) skewY(30deg);

    animation: tomoe_after 7s linear infinite alternate;
}

@keyframes tomoe_after{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

.tomoe2{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    position: absolute;
    top: 180px;
    left: 210px;
    z-index: 5;

    background-color: #1a1a1a;

    transform: rotate(120deg);

    animation: tomoe2 7s linear infinite alternate;
}

@keyframes tomoe2{
    0%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 180px;
        left: 210px;
        z-index: 5;

        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;

        background-color: #1a1a1a;

        transform: rotate(120deg);
    }
    60%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 180px;
        left: 210px;
        z-index: 5;

        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;

        background-color: #1a1a1a;

        transform: rotate(120deg);
    }
    70%{
        width: 0px;
        height: 0px;
        border-radius: 0%;

        background-color: transparent;

        position: absolute;

        top: 223px;
        left: 195px;

        z-index: 5;

        border-left: 30px solid transparent;
        border-right: 0px;
        border-top: 57px solid #1a1a1a;

        transform: rotate(0deg);
    }
    100%{
        width: 0px;
        height: 0px;
        border-radius: 0%;

        background-color: transparent;

        position: absolute;

        top: 223px;
        left: 195px;

        z-index: 5;

        border-left: 30px solid transparent;
        border-right: 0px;
        border-top: 57px solid #1a1a1a;

        transform: rotate(0deg);
    }
}

.sharingan:hover .tomoe2{
    width: 0px;
    height: 0px;
    border-radius: 0%;

    background-color: transparent;

    position: absolute;

    top: 223px;
    left: 195px;

    z-index: 5;

    border-left: 30px solid transparent;
    border-right: 0px;
    border-top: 57px solid #1a1a1a;

    transform: rotate(0deg);
}

.tomoe2:after{
    content: '';
    position: absolute;

    top: -9px;
    left: 5px;

    width: 10px;
    height: 15px;
    z-index: 5;

    background-color: #1a1a1a;

    transform: rotate(85deg) skewX(30deg) skewY(30deg);
    border-top-left-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 40%;

    animation: tomoe2_after 7s linear infinite alternate;
}

@keyframes tomoe2_after{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

.tomoe3{

    width: 30px;
    height: 30px;
    border-radius: 50%;

    position: absolute;
    top: 180px;
    left: 60px;

    transform: rotate(240deg);

    z-index: 5;
    background-color: #1a1a1a;

    animation: tomoe3 7s linear infinite alternate;
}

@keyframes tomoe3{
    0%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 180px;
        left: 60px;

        border-top: 1px solid transparent;
        border-bottom: 0px;
        border-right: 1px solid transparent;

        transform: rotate(240deg);

        z-index: 5;
        background-color: #1a1a1a;
    }
    60%{
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        top: 180px;
        left: 60px;

        border-top: 1px solid transparent;
        border-bottom: 0px;
        border-right: 1px solid transparent;

        transform: rotate(240deg);

        z-index: 5;
        background-color: #1a1a1a;
    }
    70%{
        width: 0px;
        height: 0px;
        border-radius: 0%;

        background-color: transparent;

        position: absolute;

        top: 195px;
        left: 20px;

        z-index: 5;

        border-top: 30px solid transparent;
        border-bottom: 0px;
        border-right: 57px solid #1a1a1a;

        transform: rotate(0deg);
    }
    100%{
        width: 0px;
        height: 0px;
        border-radius: 0%;

        background-color: transparent;

        position: absolute;

        top: 195px;
        left: 20px;

        z-index: 5;

        border-top: 30px solid transparent;
        border-bottom: 0px;
        border-right: 57px solid #1a1a1a;

        transform: rotate(0deg);
    }
}



.sharingan:hover .tomoe3{
    width: 0px;
    height: 0px;
    border-radius: 0%;

    background-color: transparent;

    position: absolute;

    top: 195px;
    left: 20px;

    z-index: 5;

    border-top: 30px solid transparent;
    border-bottom: 0px;
    border-right: 57px solid #1a1a1a;

    transform: rotate(0deg);
}


.tomoe3:after{
    content: '';
    position: absolute;

    top: -9px;
    left: 5px;

    width: 10px;
    height: 15px;
    z-index: 5;

    background-color: #1a1a1a;

    transform: rotate(85deg) skewX(30deg) skewY(30deg);
    border-top-left-radius: 40%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 40%;

    animation: tomoe3_after 7s linear infinite alternate;
}

@keyframes tomoe3_after{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

